.bodyCatalogo {
    overflow-x: hidden;

    .containerCatalogo {
        width: 79%;
        margin-left: auto;
        position: absolute;
        right: 0;
        margin: 9em auto 0;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5em;
        // border: 1px solid white;
        transition: 1s ease;
        

        .qtdEncontradosEFiltrarPor {
            font-family: "Montserrat", sans-serif;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            
            .containerFiltrosDireita, 
            .containerFiltrosEsquerda {
                display: flex;
                gap: 1.5em;
                align-items: center;
            }

            span {
                color: #d4d4d4; 
                font-weight: bolder;
                font-size: 1.2em;
            }

            .containerFavoritos {
                position: relative;

                .iconeFavoritos {
                    color: rgb(161, 40, 40);
                    font-size: 2em;
                    margin-right: .5em;
                    cursor: pointer;
                }

                p {
                    font-size: .9em;
                    border-radius: 50%;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    background-color: #d4d4d4;
                    position: absolute;
                    right: 0;
                    top: -1em;
                    font-family: 'Lato', sans-serif;
                    font-weight: 800;
                }
            }
            
        }

        .containerCardProdutos {
            // border: 1px solid red;
            display: flex;
            flex-wrap: wrap;
            gap: 2em;
            justify-content: flex-start;
            padding: .5em 0;

            .erroNenhumAnuncioEncontrado {
                color: rgb(161, 40, 40);
                font-family: 'Lato', sans-serif;
                font-size: 1.1em; 
            }
        }
    }

    .containerCatalogoMenuFechado {
        width: 95%;
    }
}