.bodyCatalogo {
    overflow-x: hidden;

    .teste {
        width: 70%;
        height: 5000px;
        border: 1px solid white;
        margin-left: auto;
        position: absolute;
        right: 0;
        margin-top: 9em;
    }
}