.bodyCatalogo {
    overflow-x: hidden;

    .mainCatalogo {
        // max-width: 1800px;
        margin: 5.6em auto 0;
    }

    .containerPageMain {
        padding: 0 2em;
    }

    .containerSectionMenuCatalogo {
        display: flex;
        width: 100%;
    }
    
    .containerCatalogo {
        border-left: 1px solid rgba(255, 255, 255, 0.068);
        width: 100%;
        height: fit-content;
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // flex-wrap: wrap;
        gap: 1.5em;
        transition: 1s ease;

        .containerFiltroCards {
            width: 95%; 
            margin-left: auto;
        }

        .catalogoControles {
            width: 100%;
            margin: 0 0 1.5em 0;
        }
        
        .qtdEncontradosEFiltrarPor {
            font-family: "Montserrat", sans-serif;
            display: flex;
            justify-content: space-between !important;
            flex-direction: row;
            align-items: center;
            width: 100%;
            
            .containerFiltrosDireita, 
            .containerFiltrosEsquerda {
                display: flex;
                gap: 1.5em;
                align-items: center;
            }

            span {
                color: var(--light-color-padrao); 
                font-weight: bolder;
                font-size: 1.2em;
            }

            .containerFavoritos {
                position: relative;

                .iconeFavoritos {
                    color: rgb(161, 40, 40);
                    font-size: 2em;
                    margin-right: .5em;
                    cursor: pointer;
                }

                p {
                    font-size: .9em;
                    border-radius: 50%;
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    background-color: var(--light-color-padrao);
                    position: absolute;
                    right: 0;
                    top: -1em;
                    font-family: 'Lato', sans-serif;
                    font-weight: 800;
                }
            }
        }

        .containerCardProdutos {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            padding: .5em 0;
            // width: 95%;
            // margin-left: auto;
            gap: 2em;

            

            .erroNenhumAnuncioEncontrado {
                color: rgb(161, 40, 40);
                font-family: 'Lato', sans-serif;
                font-size: 1.1em; 
            }
        }
    }

    .heroBannerContainer {
        width: 100%;
        margin: 0 auto 1em auto;

        .heroBannerImagem {
            width: 100%; 
            height: auto;
        }
    }

}

@media screen and (max-width: 768px) {
    .containerCardProdutos {
        justify-content: center !important;
    }
}
@media screen and (max-width: 1024px) {
    .containerSectionMenuCatalogo {
        flex-direction: column;
        align-items: center;
    }
    .containerCatalogo {
        border-left: none !important;
    }

    .qtdEncontradosEFiltrarPor {
        margin: 0 0 4em 0;

            .containerFiltrosDireita, 
            .containerFiltrosEsquerda {
                gap: 1em !important;
                font-size: .9em !important;
            }

            span {
                font-size: 1.2em;
            }
    }

    .containerFiltroCards {
        width: 100% !important;
    }
}

@media screen and  (max-width: 1367px) {
    .qtdEncontradosEFiltrarPor {
        margin: 0 0 4em 0;
        flex-direction: column !important;
        gap: 2em;
    }

    .containerFiltrosDireita {
        width: 100%;
        justify-content: center;
    }
}