.BotaoCatalogo {
    background-color: transparent;
    border: none;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .5em;
        font-size: 1.3em;
        font-family: "Lato", sans-serif;
        color: #d4d4d4;
        font-weight: 600;

        .IconeMoto {
            font-size: 2em;
        }
    }
}
