.articleMainHeroCarrossel {
    // max-width: 1800px;
    width: 95%;
    height: 80svh;
    background-color: red;
    margin: .0 auto;

    border-radius: 40px;
    background: #262626;
    background: radial-gradient(circle, rgba(38, 38, 38, 1) 0%, #000000 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: 'League Spartan';
        font-weight: bolder;
        font-size: 13em;
        position: absolute;
        color: #727272;
        text-transform: uppercase;
        transform: translateY(-120px);
        filter: drop-shadow(0 0 10px rgba(31, 31, 31, 0.281));
        text-align: center;
        max-width: 95%;
        margin: 0 auto;
    }

    img {
        max-width: 90%;
        transform: rotate(2deg) translateY(-20px);
        margin-bottom: 2em;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.575));
    }
}

// animações para a imagem
.entrada-next {
  animation: slideInLeft 1s ease forwards;
}

.saida-next {
  animation: slideOutRight 1s ease forwards;
}


.entrada-prev {
  animation: slideInRight 1s ease forwards;
}

.saida-prev {
  animation: slideOutLeft 1s ease forwards;
}


@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(1200px);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(2deg) translateY(-20px);
    
  }
}

@keyframes slideOutRight {
  from {
    opacity: 1;
    transform: translateX(0) rotate(2deg) translateY(-20px);
  }
  to {
    opacity: 0;
    transform: translateX(-1200px);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-1200px);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(2deg) translateY(-20px);
  }
}

@keyframes slideOutLeft {
  from {
    opacity: 1;
    transform: translateX(0) rotate(2deg) translateY(-20px);
  }
  to {
    opacity: 0;
    transform: translateX(1200px);
  }
}


/*  Animação específica para o texto */
.animacaoTexto-entrada-next {
  animation: entradaTexto 1s ease forwards;
}
.animacaoTexto-saida-next {
  animation: saidaTexto 1s ease forwards;
}
.animacaoTexto-entrada-prev {
  animation: entradaTexto 1s ease forwards;
}
.animacaoTexto-saida-prev {
  animation: saidaTexto 1s ease forwards;
}

@keyframes entradaTexto {
  from { opacity: 0; transform: translateY(50px); }
  to   { opacity: 1; transform: translateY(-120px); }
}

@keyframes saidaTexto {
  from { opacity: 1; transform: translateY(-120px); }
  to   { opacity: 0; transform: translateY(50px); }
}



@media screen and (max-width: 1700px) {
    .articleMainHeroCarrossel {
        p {
            font-size: 11em;
        }
    }
}
@media screen and (max-width: 1450px) {
    .articleMainHeroCarrossel {
        p {
            font-size: 10em;
        }
    }
}
@media screen and (max-width: 1366px) {
    .articleMainHeroCarrossel {
        p {
            font-size: 9em;
        }
    }
}
@media screen and (max-width: 1200px) {
    .articleMainHeroCarrossel {
        p {
            font-size: 8em;
        }
    }
}
@media screen and (max-width: 1050px) {
    .articleMainHeroCarrossel {
        p {
            font-size: 7em;
        }
    }
}
@media screen and (max-width: 950px) {
    .articleMainHeroCarrossel {
        p {
            font-size: 6em;
        }
    }
}