.articleMainHeroCarrossel {
    // max-width: 1800px;
    width: 95%;
    height: 80vh;
    background-color: red;
    margin: .0 auto;

    border-radius: 40px;
    background: #262626;
    background: radial-gradient(circle, rgba(38, 38, 38, 1) 0%, #000000 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        font-family: 'League Spartan';
        font-weight: bolder;
        font-size: 13em;
        position: absolute;
        color: #727272;
        text-transform: uppercase;
        transform: translateY(-120px);
        filter: drop-shadow(0 0 10px rgba(31, 31, 31, 0.281));
    }

    img {
        width: 720px;
        transform: rotate(2deg) translateY(-20px);
        margin-bottom: 2em;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.575));
    }
}

@media screen and (max-width: 1366px) {
    .articleMainHeroCarrossel {
        p {
            font-size: 9em;
        }
    }
}




.entrada {
  animation: slideIn 1s ease forwards;
}

.saida {
  animation: slideOut 1s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-800px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(800px);
  }
}
