.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContainerScrolled {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
}

.header {
    max-width: 1300px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    padding: .5em 0; 
    position: fixed;
    z-index: 9999999999999 !important;
    // transition: background 3s ease;
}

@media screen and (max-width: 600px) {
    .header {
        width: 101vw;
        padding: .5em 1em;
    }
}

.headerScrolled {
    // background: linear-gradient(to right, #333333 0%, #333333 100%);
    background-color: #d4d4d4;
    border-bottom: 1px solid #00000018;
    box-shadow: 1px 1px 5px #00000031;
    max-width: 100vw;
    width: 101%;
    // box-shadow: 1px 1px 10px #d4d4d417;
}