.containerOrdenarPor {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;

    .iconeOrdenarPor {
        color: #fff;
        font-size: 1.4em;
        transform: rotate(90deg);
    }

    label {
        color: var(--light-color-padrao);
        font-size: 1.1em;
        margin: 0 .5em;
        
        select {
            font-size: 1em;
            background-color: transparent;
            font-family: "Montserrat", sans-serif;
            color: var(--light-color-padrao);
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 600;
            margin-left: .5em;
            padding-right: .3em;
        }
    }

}