.ContainerPositionSlider {
    width: 280px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.055);
    position: absolute;
    bottom: 20vh;
    z-index: 9999;

        button {
            background-color: #242424;
            font-size: .8em;
            color: #222222;
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            width: 30px;
            height: 30px;
        }

        .btnVoltarSlide {
            padding-right: .2em;
        }
        .btnPassarrSlide {
            padding-left: .2em;
        }

        .dotMudarSlide {
            background-color: #242424;
            color: white;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            cursor: pointer;
            transition: .5s ease;
        }
        
        .dotAtivo {
            background-color: #d4d4d4;
            color: white;
            width: 40px;
            height: 23px;
            border-radius: 50px;
            cursor: pointer;
        }
    }


@media screen and (max-width: 1366px) {
    .ContainerPositionSlider {
        width: 200px;
        height: 35px;
        bottom: 15vh;

        button {
            width: 20px;
            height: 20px;
            font-size: .5em;
        }

        .dotMudarSlide {
            width: 20px;
            height: 20px;
        }

        .dotAtivo {
            background-color: #d4d4d4;
            color: white;
            width: 35px;
            height: 20px;
            border-radius: 50px;
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 500px) {
    .ContainerPositionSlider {
        bottom: 25dvh;
    }
}
