.CardProduto {
    // height: 430px;
    position: relative;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-color-padrao);
    overflow: hidden;
    // min-width: 250px;
    max-width: 300px;
    flex: 1 1 300px;
    box-shadow: 1px 1px 10px #d4d4d436;
    // margin: 2em 0 0 2em;
    
    .btnAddFavoritos {
        position: absolute;
        right: 0;
        background-color: var(--light-color-padrao);
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 1em;
        border-radius: 2px;
        z-index: 9;
        transition: .3s ease;

        &:hover {
            color: rgb(161, 40, 40);
        }
    }

    .containerImagemProduto {
        overflow: hidden;
        // height: 180px;
    }
    
    img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        // min-height: 200px;
        background-color: #1f1f1f;
        aspect-ratio: 16/9;
        object-fit: cover;
        // overflow: hidden;
        z-index: 8;
        transition: .8s ease;

        &:hover {
            scale: 1.1;
        }
    }
    
    .containerInfosMoto {
        padding: 0em 1em 1em 1em;
        background-color: var(--light-color-padrao);

        h3 {
            font-size: 1.2em;
            margin: .8em 0;
            overflow-x: hidden;
        }

        .iconeEinfo {
            display: flex;
            align-items: center;
            gap: .4em;
            margin-bottom: .5em;

            .iconeInfo {
                font-size: 1em;
                color: black; 
            }

            p {
                font-size: .9em;
                font-weight: normal;
            }
        }

        .anoEquilometragem {
            display: flex;
            justify-content: space-between;
            margin: .2em 0;
        }

        .paragrafoPreco {
            // font-weight: 600;
            font-size: 1.2em;
            // margin: .5em 0 .7em 0;
            margin: .8em 0;
            font-family: 'Lato', sans-serif;
            font-weight: 800;
        }

        .btnVerDetalhes {
            width: 100%;
            padding: 1em;
            background-color: var(--dark-color-padrao);
            border: 1px solid var(--dark-color-padrao);
            cursor: pointer;
            color: var(--light-color-padrao);
            text-transform: uppercase;
            font-size: .7em;
            letter-spacing: 1px;
            border-radius: 5px;
            transition: .3s ease;

            &:hover {
                background-color: rgb(48, 48, 48);
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .CardProduto {
        max-width: 90% !important;
        flex: 1 1 300px !important;
    }
}
@media screen and (max-width: 1024px) {
    .CardProduto {
        max-width: 250px;
        flex: 1 1 250px;
    }
}