.containerMenuLateral {
    width: 30%;
    height: fit-content;
    max-height: 750px;
    color: var(--light-color-padrao);
    border-radius: 0 10px 0 0;
    bottom: 0;
    transition: 1s ease;

    .widthControllerMenuLateral {
        width: 90%;
        margin: 0;
        flex-direction: column;
        opacity: 1;
        pointer-events: all;
        transition: 1s ease;
    }
    
    .widthControllerMenuLateralFechado {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }

    h3 {
        font-size: 1.4rem;
        letter-spacing: .5px;
        margin: 0 0 .5em 0;
        font-family: "Montserrat", sans-serif;
    }
}

.containerMenuLateralFechado {
    width: 2%;
}


@media screen and (max-width: 1024px) {
    .containerMenuLateral {
        width: 100% !important;
        max-height: 700px;
    }
    .widthControllerMenuLateral {
        width: 100% !important;
        height: 1000px;
        transition: .5s ease-out !important;
    }
    .widthControllerMenuLateralFechado {
        height: 0;
        transform: translateX(0) !important;
        overflow: hidden;
    }
}
@media screen and (max-width: 1366px) {
    .containerMenuLateral {
        width: 50%;
    }
}

