.containerMenuLateral {
    width: 25%;
    height: 85vh;
    border: 1px solid rgba(255, 255, 255, 0);
    color: #d4d4d4;
    background: linear-gradient(to right, #141414 0%, #0e0e0e 100%);
    border-radius: 10px;
    position: fixed;
    bottom: 0;
    transition: 1s ease;
    z-index: 9999;

    .widthControllerMenuLateral {
        width: 85%;
        margin: 1.5em auto;
        flex-direction: column;
        opacity: 1;
        pointer-events: all;
        transition: 1s ease;
    }
    
    .widthControllerMenuLateralFechado {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-150%);
    }

    h3 {
        font-size: 1.4rem;
        letter-spacing: .5px;
        margin: 0 0 .5em 0;
        font-family: "Montserrat", sans-serif;
    }
}

.containerMenuLateralFechado {
    width: 4%;
}







// .containerMenuLateral {
//     width: 450px;
//     height: 85vh;
//     border: 1px solid rgba(255, 255, 255, 0);
//     color: #d4d4d4;
//     background: linear-gradient(to right, #141414 0%, #0e0e0e 100%);
//     border-radius: 10px;
//     position: fixed;
//     bottom: 0;

//     .widthControllerMenuLateral {
//         width: 85%;
//         margin: 2.063em auto;
//         display: flex;
//         flex-direction: column;

//     }

//     h3 {
//         font-size: 1.4rem;
//         letter-spacing: .5px;
//         margin: 0 0 .5em 0;
//         font-family: "Montserrat", sans-serif;
//     }
// }