.styleIconeMenu {
    font-size: 1.8em;
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 600px){
    .styleIconeMenu {
        display: block;
    }
}

.styleScrolledIconeMenu {
    color: var(--dark-color-padrao);
}