.ArticleLogosPassando {
    img {
        height: 25px;
        margin: 2.5em 2em;
        filter: brightness(0) invert(.8);
    }
}

@media screen and (max-width: 500px) {
  .ArticleLogosPassando {
        img {
            height: 25px;
            margin: 2em 1em;
            filter: brightness(0) invert(.8);
        }
    }
}