.ArticleLogosPassando {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.205) 0%, rgb(20, 20, 20) 100%);

    img {
        height: 40px;
        margin: 1.5em 3em;
        filter: grayscale(100);
    }
}