.InputBuscarMotos {

    div {
        display: flex; 
        align-items: center; 
        width: 100%;
        height: 45px;
        background-color: var(--dark-color-padrao);
        border: 2px solid #fff;
        border-radius: 500px;
        position: relative; 
        padding: 0 1em; 
    }

    input {
        width: 100%; 
        background-color: transparent; 
        border: none; 
        color: var(--light-color-padrao);
        font-size: 1em;
        padding: 0; 
        outline: none;
    }

    button {
        font-size: 1.5em;
        color: #fff;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: translateY(2px);
    }

    ::-webkit-input-placeholder  { color:var(--light-color-padrao); }
    input:-moz-placeholder { color:var(--light-color-padrao); }
    textarea:-moz-placeholder { color:var(--light-color-padrao); }

}

@media screen and  (max-width: 1367px) {
    .InputBuscarMotos {
        input {
            padding-right: 6em;
        }
    }
}