.BotaoCatalogo {
    background-color: transparent;
    border: none;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .5em;
        font-size: 1.3em;
        font-family: "Lato", sans-serif;
        color: var(--light-color-padrao);
        font-weight: 600;

        .IconeMoto {
            font-size: 2em;
            
            &:hover {
                animation: iconeMotoAnimacao 3s ease;
            }

            @keyframes iconeMotoAnimacao {
                33% {
                    transform: translateX(-50px);
                }
                66% {
                    transform: rotate(-20deg);
                }
                100% {
                    transform: translate(0) rotate(0);
                }
            }
        }

    }
}


.BotaoCatalogoScrolled a {
    color:  var(--black-color-padrao);
    font-size: 1.1em;
}