.breadcrumbs {
    width: 100%;
    margin: 0 auto;
    font-family: 'League Spartan';
    padding: 1.1em 0;
    // position: fixed;
    top: 5.4em;
    background-color: #141414;
    
    ol {
        display: flex;
        align-items: center;
        list-style-type: none;
        
        .homeLink {
            color: #a2a2a2;
            text-decoration: none;
        }
        
        .pagAtual {
            color: #d4d4d4;
        }
    }
}

.breadcrumbsScrolled {
    background: linear-gradient(to right, #141414 0%, #0e0e0e 100%);
    box-shadow: 1px 1px 8px #d4d4d40e;
}