.breadcrumbs {
    width: 93%;
    margin: 0 auto;
    font-family: 'League Spartan';
    padding: .5em 0;
    position: fixed;
    left: 4.188em;
    top: 6.25em;

    ol {
         display: flex;
         align-items: center;
         list-style-type: none;

         .homeLink {
            color: #a2a2a2;
            text-decoration: none;
         }

         .pagAtual {
            color: #d4d4d4;
        }
    }
}

