.breadcrumbs {
    width: 100%;
    margin: 0 auto;
    font-family: 'League Spartan';
    padding: 1.1em 0 1.1em 4.188em;
    position: fixed;
    top: 5.4em;
    // background: linear-gradient(to right, #141414 0%, #0e0e0e 100%);
    background-color: #141414;
    z-index: 9999999;

    ol {
         display: flex;
         align-items: center;
         list-style-type: none;

         .homeLink {
            color: #a2a2a2;
            text-decoration: none;
         }

         .pagAtual {
            color: #d4d4d4;
        }
    }
}

