@import './styles/variables.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.overflow-hidden-home {
  overflow: hidden !important;
}

body {
    background-color: var(--dark-color-padrao);
    overflow: auto;
}