.btnMenuLateral {
    background-color: transparent;
    border: none;
    color: var(--light-color-padrao);
    font-size: 2.5em;
    cursor: pointer;
    width: fit-content;
    margin: .5em 0.3em 0 auto;
    display: block;
    transform: rotate(270deg) scale(1.3);
    transition: 1s ease;
}

.btnMenuLateralFechado {
    transform: rotate(90deg) scale(1.3) translateY(15px);
}

@media screen and (max-width: 1024px) {
    .btnMenuLateral {
        transform: rotate(360deg) scale(1.3);
        margin: .5em 0.3em .8em auto;
    }
    .btnMenuLateralFechado {
        transform: rotate(180deg) scale(1.3);
    }
}